<footer class="footer">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{this.pendientes}}</strong> Pendientes</span>
    <!-- Remove this if you don't implement routing -->
    <ul class="filters">
        <li (click)="cambiarFiltro(filtro)" *ngFor="let filtro of filtrosValidos">
            <a [ngClass]="{'selected' : filtro === filtroSeleccionado}" href="#">{{filtro}}</a>
        </li>
    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button (click)="LimpiarCompletados()" class=" clear-completed " style="font-size: 10px; font-weight:bold;">Limpiar Completadas</button>
</footer>